# Secreto de Payload (cambiar en produccion)
PAYLOAD_SECRET=desarrollo-super-seguro-cambiar-en-produccion

# Base de datos local (desarrollo)
DATABASE_URL=file:./ifts29.db

# Base de datos remota Turso (produccion en Vercel)
DATABASE_URL=libsql://ifts29-portal-schallmoserjuan.aws-us-east-1.turso.io
DATABASE_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzY5ODg3MjUsImlkIjoiMDE5ZGJjNmEtMDkwMS03MWEzLTk1YmQtZjI3MWYxZDkwOTA5IiwicmlkIjoiNDZiNTgxODUtZWVlYi00NGZjLWIwOTItZGUxOWRiMzJlNjJlIn0.gKBB9Y9-RsmIsM2-MpU8rv9llEWU6luhFq7P8F9Qw2rxr3lOmtMDtAg-jXCNkz2ZznNJ_xrHQVOLevTLMhSvBA

# Storage para uploads en Vercel (se genera al vincular Blob en el proyecto)
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_NU7GEOhIqAj1B38W_amo5z3ZmbN2CzpgtNcWrGJk6hRyupZ"